<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Easy Care Provider</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.app.EasyCareProvider</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>verify-email</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>google</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.94441629146-4trr2etsmsuegjrrbjhjj1q0u4v3uo8r</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1014620760866445</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>1014620760866445</string>
	<key>FacebookClientToken</key>
	<string>1e0914eb184e0d68b2d4a90e5a86f547</string>
	<key>FacebookDisplayName</key>
	<string>EasyCare</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>easycareprovider</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to camera to click pictures for uploading images</string>
	<key>NSFaceIDUsageDescription</key>
	<string>This app uses Face ID to provide secure and convenient login</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs access to location for searching results based on your location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to microphone for better voice search</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs access to save images to your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to photo library to select and upload images</string>
	<key>NSAppleMusicUsageDescription</key>
    <string>This app does not access your music library.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Arimo-Bold.ttf</string>
		<string>Arimo-BoldItalic.ttf</string>
		<string>Arimo-Italic.ttf</string>
		<string>Arimo-Medium.ttf</string>
		<string>Arimo-MediumItalic.ttf</string>
		<string>Arimo-Regular.ttf</string>
		<string>Arimo-SemiBold.ttf</string>
		<string>Arimo-SemiBoldItalic.ttf</string>
		<string>Ubuntu-Bold.ttf</string>
		<string>Ubuntu-Light.ttf</string>
		<string>Ubuntu-Medium.ttf</string>
		<string>Ubuntu-Regular.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
