# App Environment
APP_ENV='development'

# ShareTribe
SHARETRIBE_SDK_CLIENT_ID='your-client-id'
SHARETRIBE_SDK_CLIENT_SECRET='your-client-secret'
SHARETRIBE_SDK_BASE_URL='https://flex-template-web.sharetribe.com'
SHARETRIBE_SDK_ASSET_CDN_BASE_URL='https://sharetribe.imgix.net'
SHARETRIBE_SDK_TRANSIT_VERBOSE='false'
SHARETRIBE_USING_SSL='true'

# weblinks
BASE_URL='https://your-base-url.com'
ADMIN_PANEL_URL='https://your-admin-url.com'

# Sentry
SENTRY_DSN=''

# OAuth
GOOGLE_WEB_CLIENT_ID='your-google-web-client-id'
GOOGLE_IOS_CLIENT_ID='your-google-ios-client-id'

# Marketplace
MARKETPLACE_ROOT_URL=''
MARKETPLACE_NAME=''

# Facebook
FACEBOOK_APP_ID='your-facebook-app-id'

# Mapbox
MAPBOX_ACCESS_TOKEN='your-mapbox-token'

# Apple
APPLE_IDP_CLIENT_ID='com.your.app'

# OneSignal
ONESIGNAL_APP_ID='your-onesignal-app-id'
